.env
.env.backup
.env.backup.*

# Test config
backend/src/test/resources/test-config.properties

# Test coverage
backend/build/reports/jacoco/test/html/index.html
backend/build/reports/tests/test/

# Other files
TODO.txt
docs/collections


clients/*
!clients/typescript-axios/**
clients/typescript-axios/node_modules
backend/scripts/tests/.token
